
/**/
/*GLOBAL CSS*/
.image-store{
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.img-bluring{
  filter: blur(25px);
  -webkit-filter: blur(25px);
}

/*Store.js*/
.store-banner{
  background:url('sushi2.jpg') no-repeat;
  background-size:cover;
  height: 300px;
}
.store-submenu{
  margin-top:0px;
  border:1px solid white;
  background-color: #ffffff;
}
/**/
